.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5, minmax(0, auto));
  grid-template-rows: repeat(2, minmax(0, auto));
  row-gap: 0.025rem;
  column-gap: 0.025rem;
}
