.container {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  grid-template-columns: 50rem;
  grid-template-rows: 15rem max-content;
  margin: 1rem;
  border-color: #000000;
  border-style: solid;
  border-width: .1rem;
  border-radius: 3rem;
  padding: 1rem;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 10rem);
  grid-template-rows: repeat(4, 10rem);
}