.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(0, auto));
  grid-template-rows: repeat(1, minmax(0, auto));
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}
