.button {
  margin: .1rem;
  height: .8rem;
  width: .8rem;
  border-color: #000000;
  border-style: solid;
  border-width: .01rem;
  border-radius: .1rem;
  color: #000000;
  font-size: .5rem;
  line-height: .8rem;
  text-align: center;
  user-select: none;
}

/* Clicked */
.button:active {
  border-color: #888888;
  color: #888888;
}

/* Key pressed */
.pressed {
  border-color: #888888;
  color: #888888;
}