.container {
  grid-column: 1 / -1;
  grid-row: 1;
  margin: .1rem;
  border-color: #000000;
  border-style: solid;
  border-width: .01rem;
  border-radius: .1rem;
  color: #000000;
  text-align: right;
  user-select: none;
}

.formula {
  height: .4rem;
  margin: .1rem;
  font-size: .2rem;
  line-height: .2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.value {
  height: .6rem;
  margin: .1rem;
  font-size: .5rem;
  line-height: .6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
